.App {
  text-align: center;
}

.App-logo {
  height: 35px;
  width: 200px;
  min-height: 5vh;
  pointer-events: none;
  float: left;
}

.App-header {
  height: 35px;
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

